/* 메인 슬라이드 (들어오면 바로 보이는 화면 */


/***********************************/




/*************************************/

#thumb_slide .slide_titbox{box-sizing:border-box;
   width:100%; height: 170px; margin-top: 130px;
   text-align: center}

#thumb_slide .slide_titbox .slide_ti_box1{margin-bottom: 10px;}
#thumb_slide .slide_titbox .slide_ti_box2{font-size:1.9rem;margin-bottom: 50px;}
#thumb_slide .slide_titbox .slide_ti_box3{color:#ccc; 
left:0 ;font-size:0.7rem;margin-bottom:5px;}
#thumb_slide .slide_titbox .slide_ti_box3::before{ content:'';
display: inline-block; width: 15px;height: 15px; position: relative; top:4px; right:4px ;
/*position: absolute;*/
background:url(../image/icon_set1.png) no-repeat;
background-position:-38px -138px;}
#thumb_slide .slide_titbox .slide_ti_box4{color:#ccc; font-size:0.7rem;margin-bottom:120px;}
#thumb_slide .slide_titbox a{}


#thumb_slide .slide2 > div{position: relative;}
#thumb_slide .slide2_box1::before{content:''; display:block;
width:0px;height:0px;background-color: #EB7311;
position: absolute; left:30px; top: -2px;
transition: 0.5s;}
#thumb_slide .slide2_box1::after{content:''; display:block;
 width:0px;height:0px;background-color: #EB7311;
 position: absolute; right:220px; top: -2px;
 transition: 0.5s;}
#thumb_slide .slide2_box1:hover:before{width:55px; height: 3px; left:-1px;top:-2px; z-index:-99999 ;}
#thumb_slide .slide2_box1:hover::after{width:280px; height: 3px; right:-1px;top:-2px; z-index:-99999}
#thumb_slide .slide2 > .slide2_box2 > div{position: relative;}

#thumb_slide .slide2 > .slide2_box2{position: relative}
#thumb_slide .slide2_box2::before{content:''; display:block;
width:0px;height:0px;background-color:  #5189E6;
position: absolute; left:30px; top: -2px;
transition: 0.5s;}
#thumb_slide .slide2_box2::after{content:''; display:block;
 width:0px;height:0px;background-color: #5189E6;
 position: absolute; right:280px; top: -2px;
 transition: 0.5s;}
#thumb_slide .slide2_box2:hover:before{width:55px; height: 3px; left:-1px;top:-2px; z-index:-99999 ;}
#thumb_slide .slide2_box2:hover::after{width:280px; height: 3px; right:-1px;top:-2px; z-index:-99999}
#thumb_slide .slide2 > .slide2_box2 > div{position: relative;}



#thumb_slide .slide2_box2



#thumb_slide .slide2::after{content:''; display: block; clear: both;}
#thumb_slide .slide2{box-sizing: border-box;
   /*padding:50px*/background-color:#F6F6F6  ;
   width: 100%;float: left; height: 640px;}
#thumb_slide .slide2 > div{width:calc((100% - 308px) / 3);
             box-sizing: border-box; 
             float: left;
             border: 1px solid #ccc;
             padding: 30px;
             position: relative;}
#thumb_slide .slide2 .slide2_box1{
margin-right: 20px; text-align: center; height: 360px;}

#thumb_slide .slide2 .silde_icon{width: 50px;height: 50px;
         margin:auto; margin-bottom: 20px;margin-top: 10px;
         background:url(../image/icon_set4.png) no-repeat;
         background-position:-9px -73px;}
#thumb_slide .slide2 .slide2_box_tit{position: absolute; 
   top:-10px;left:30px }
#thumb_slide .slide2 .slide2_box1 .slide2_box_tit b{
        background-color: #EB7311; position:relative;
        left:-2px; padding: 4.4px; margin-top:-4.7px ;
        float:left;}
#thumb_slide .slide2 .slide2_box1 .slide2_box_tit:before{
       float: left;content:''; display: inline-block; 
       width: 15px;height: 28px; margin-top:-4.8px ;
       background:url(../image/bg_cate.png);
       background-position:0 0;}
#thumb_slide .slide2 .slide2_box1 .slide2_box_tit::after{
          float: right;content:''; display: inline-block; 
          width: 15px;height: 28px; 
          margin-top:-4.8px;margin-left:-2px ;
          background:url(../image/bg_cate.png);
          background-position:-15px 0;}

#thumb_slide .slide2_box1 .seilde_tit1{color:#ccc; margin-bottom: 5px;}
#thumb_slide .slide2_box1 .seilde_tit2{margin-bottom: 60px;}
#thumb_slide .slide2_box1 .seilde_txt1{color:#ccc; margin-bottom: 10px;}
#thumb_slide .slide2_box1 .seilde_txt2{font-size:1.9rem;margin-bottom: 25px;}
#thumb_slide .slide2_box1 a{border:1px solid white; color:white; 
     border-radius: 20px; background-color: #EB7312; font-size:0.9rem;
     padding:10px; padding-left:65px; padding-right:65px;}

#thumb_slide .slide2 .slide2_box2{ text-align: center;  height: 480px;}
#thumb_slide .slide2 .silde_icon2{width: 55px;height: 55px;
margin:auto; margin-bottom: 20px;margin-top: 10px;
background:url(../image/icon_set4.png) no-repeat;
background-position:-170px -73px;}
#thumb_slide .slide2 .slide2_box_tit2{position: absolute; 
top:-10px;left:30px }
#thumb_slide .slide2 .slide2_box2 .slide2_box_tit2 b{
background-color:  #5189E6; position:relative;
left:-2px; padding: 4.5px; margin-top:-4.7px ;
float:left;}
#thumb_slide .slide2 .slide2_box2 .slide2_box_tit2:before{
float: left;content:''; display: inline-block; 
width: 15px;height: 28px; margin-top:-4.8px ;
background:url(../image/bg_cate.png);
background-position:-59px 0;}
#thumb_slide .slide2 .slide2_box2 .slide2_box_tit2::after{
float: right;content:''; display: inline-block; 
width: 14px;height: 28px; 
margin-top:-4.8px;margin-left:-2px ;
background:url(../image/bg_cate.png);
background-position:-75px 0;}
#thumb_slide .slide2_box2 .seilde_tit11{color:#ccc; margin-bottom: 5px;}
#thumb_slide .slide2_box2 .seilde_tit21{margin-bottom: 60px;}
#thumb_slide .slide2_box2 .seilde_txt11{color:#ccc; margin-bottom: 10px;}
#thumb_slide .slide2_box2 .seilde_txt21{font-size:1.9rem;margin-bottom: 25px;}
#thumb_slide .slide2_box2 a{border:1px solid white; color:white; 
border-radius: 20px; background-color: #5189E6; font-size:0.9rem;
padding:10px; padding-left:65px; padding-right:65px;}
#thumb_slide:after{content:''; display: block; clear: both; }


/*************/






/***********************/




